* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

}


.navbarSection2 {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbarDiv {

    width: 97%;
    height: 68px;
    background-color: white;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.navbarDiv p,
.navbarDiv span {
    display: flex;
    cursor: pointer;
    margin: 0 25px;
    font-weight: 500;
    align-items: center;
}
.navbarDiv p:hover{
    border-top: 2px solid #ED0331;
    border-bottom: 2px solid #ED0331;
}

.navbarDiv i {
    font-size: 36px;
    margin-left: -15px;
}

.navbarDiv p:hover,
#profile-container p:hover,
.navbarDiv span:hover {
    color: #ED0331;
}

.navbarDiv>div {
    display: flex;
    align-items: center;
    letter-spacing: 1.25px;
}

#profile-container p {
    cursor: pointer;
}

#profile-container {
    position: absolute;
    display: none;
    top: 66px;
    right: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 10px;
    border-radius: 0 0 5px 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.userfillform {
    display: none;
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.closeButtonOption {
    position: fixed;
    top: 70px;
    right: 25px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding: 5px 12px;
    background-color: #ED0331;
    border-radius: 50px;
    cursor: pointer;
}

.userfillform .box {
    margin: auto;
    margin-top: 60px;
    width: 500px;
    padding: 5px 25px;
    border-radius: 25px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
}

.userfillform .box h1 {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
}

.userfillform .form {
    display: flex;
    flex-direction: column;
}

.userfillform .form input,
.userfillform .form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b1acac;
    font-size: 15px;
}

.userfillform .form label {
    margin: 20px 0 5px 0;
    font-size: 20px;
}

.userfillform .form form p {
    text-align: center;
    font-size: small;
    margin: 20px 0;
}

.userfillform .box>p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

.userfillform .form a,
.form span {
    text-decoration: none;
    color: blue;
}

.userfillform .form input[type="submit"] {
    margin-top: 25px;
    color: blue;
    background-image: linear-gradient(rgba(255, 0, 0, 0.212), rgba(0, 0, 255, 0.205));
    margin-bottom: 25px;
}

.userfillform .form input[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.808);
    color: #fff;
}

.userfillform table {
    margin: auto;
    margin-top: 80px;
    width: 95%;
    font-size: 20px;
    text-align: center
}

.userfillform thead {
    background-color: black;
    color: white;
}

.userfillform tbody tr:nth-child(even) {
    background-color: gray;
}

.userfillform th {
    padding: 10px 0;
}

.userfillform td>p {
    color: red;
    cursor: pointer;
    margin: 5px 0;
}


/* View Profile  */

#viewProfileData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 15px;
}

#viewProfileData img {
    width: 200px;
    margin: 15px;
}

#viewProfileData p {
    margin: 10px 0;
}

/* Time View */


.seeTimeNow {
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 250px;
    height: 30px;
    background: orange;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 200, 250, 0.288) 0px 18px 36px -18px inset;
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 4px;
}


.dashbordoptionPartSection h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(100, 100, 100);
}

#usernameDisplayOption {
    font-style: italic;
    color: black;
}

.dashbordclassPartDiv {
    padding: 25px;
    padding-top: 10px;
}

.dashbordclassPartDiv h1 {
    text-align: start;
    font-size: 25px;
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

.dashbordclassPartDiv h1:hover {
    color: #ED0331;
}
.dashbordclassPartDiv>div>div ,
#openCoursesvideoclasses>div,
#seeAllClassMyCoursesAddCardVideo>div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 60px;
}

.dashbordclassPartDiv>div>div>div,
#openCoursesvideoclasses>div ,
#seeAllClassMyCoursesAddCardVideo>div {
    width: 290px;
    height: 215px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.466);
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarDiv a {
    text-decoration: none;
    color: black;
}

.dashbordclassPartDiv>div>div>div img,
#openCoursesvideoclasses>div img,
#seeAllClassMyCoursesAddCardVideo>div img{
    margin-top: 3px;
    width: 40px;
    cursor: pointer;
}
.dashbordclassPartDiv>div>div>div h2,
#openCoursesvideoclasses>div h2,
#seeAllClassMyCoursesAddCardVideo>div h2{
    margin: 0;
    margin-top: 10px;
}
.dashbordclassPartDiv>div>div>div h5,
#openCoursesvideoclasses>div h5,
#seeAllClassMyCoursesAddCardVideo>div h5{
    padding: 0 7px;
    text-indent: 25px;
    text-align: justify;
}
.dashbordclassPartDiv>div>div>div button,
#openCoursesvideoclasses>div button,
#seeAllClassMyCoursesAddCardVideo>div button{
    padding: 5px 10px;
    background: rgb(142, 187, 247);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin: 3px;
}
.dashbordclassPartDiv>div>div>div button:hover,
#seeAllClassMyCoursesAddCardVideo>div button:hover,
#openCoursesvideoclasses>div button:hover{
    background: rgb(0, 110, 255);
    color: white;
}
.dashbordclassPartDiv>div>div>div span{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #ED0331;
    height: 3px;
    width: 100%;
}

.dashbordclassPartDiv>div>div>div>div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#seeAllClassMyCoursesAddCardVideo,
#openCoursesvideoclasses{
    padding: 50px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20;
}
#seeAllClassMyCoursesAddCardVideo>div>div,
#openCoursesvideoclasses>div>div{
    border-top: 2px solid #ED0331;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#seeAllClassMyCoursesAddCardVideo>div,
#openCoursesvideoclasses>div
{
    height: 225px;
    width: 350px;
}


.masaipaymentGateway h1{
    text-align: center;
}
.masaipaymentGateway .form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.masaipaymentGateway input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b1acac;
    font-size: 15px;
    background-color: #ffffff;
}

.masaipaymentGateway label {
    margin: 20px 0 5px 0;
    font-size: 20px;
    background-color: #fff;
}

.masaipaymentGateway .form p {
    text-align: center;
    font-size: small;
    margin: 20px 0;
    background-color: #fff;
}

.masaipaymentGateway input[type="submit"] {
    margin: 25px;
    color: blue;
    background-image: linear-gradient(rgba(255, 0, 0, 0.212), rgba(0, 0, 255, 0.205));
}

.masaipaymentGateway input[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.808);
    color: #fff;

}
.masaipaymentGateway div{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    cursor: pointer;
}
.masaipaymentGateway div label{
    cursor: pointer;
    padding: 5px;
}

#playvidothim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}